global
    maxconn 2048

defaults
    mode http
    timeout connect 10s
    timeout http-request 30s
    timeout client 180s
    timeout server 180s

frontend https
    bind :8443 ssl crt /run/haproxy/localhost.pem
    stick-table type ip size 100k expire 60s store conn_rate(10s),gpt0
    tcp-request connection reject if { src_get_gpt0 gt 0 }
    tcp-request connection track-sc0 src
    tcp-request connection sc-set-gpt0(0) 1 if { sc0_conn_rate gt 50 }
    tcp-request connection reject if { sc0_conn_rate gt 50 }
    http-request del-header Forwarded
    http-request del-header X-Forwarded-For
    http-request set-header X-Forwarded-For %[src]
    http-response sc-set-gpt0(0) 1 if { res.hdr(Ankah-Proxy-Action) -m str block }
    http-response del-header Ankah-Proxy-Action
    default_backend gate

backend gate
    server ankah 172.30.71.11:8080
